.productdisplay{
    display: flex;
    margin: 0px 170px;

}
.productdisplay-left{
    display: flex;
    gap: 17px;
}

.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img{
    height: 163px;
}

.productdiplay-main-img{
    width: 586px;
    height: 700px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: black;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-location{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
}

/* .productdisplay-right-description{
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 400;
} */

.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: red;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}