.navbar{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    box-shadow: 0 2px 4px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-logo p{
    color: green;
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: green;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 30px;

}
.nav-login-cart button{
    width: 120px;
    height: 40px;
    outline: none;
    border: 1px solid black;
    border-radius: 75px;
    color: grey;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;

}

.nav-login-cart button:active{
    background: gainsboro;
}
.nav-stop-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}